#header{
    position: fixed;
    padding: 0;
    margin: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    border-bottom: solid 1px black;
    background-color: #D3DEE1;
    width: 100%;
    z-index: 2;
}

#header p:hover{
    cursor: pointer;
}