#ocean-bot{
    width: 100%;
    height: 2500px;
    margin-top: -0.5vh;
    z-index: inherit;
    background: linear-gradient(to bottom, #B3CFD7, #0B1D23);
}

#ocean{
    position: absolute;
    width: 100%;
    margin-top: 10vh;
    padding: 0;
    z-index: -1;
    overflow: hidden;
}

#ocean svg{
    z-index: inherit;
    animation: waveAnimation 3s infinite linear; /* Specify animation properties */
}

@keyframes waveAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px) translateX(-30px);
    }
    100% {
        transform: translateY(0);
    }
}